/* .users{
    list-style: none;
}

.users li{
    font-size: 24px;
    margin-bottom: 24px;
}

body {
    
    /* background: #333; */
    /* padding-top: 5em;
    display: flex;
    justify-content: center; */
/* } */

/* main {
  width: 100%;
  height: auto;
} */

#homeBG {
  background-image: url(https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size:cover;
  width: 100vw;
  height: 100vh;
  padding: 1em;
}

.typewriter h1 {
  color: black;
  opacity: .75;
  font-size: 5vw;
  font-weight: lighter;
  font-family: Georgia, serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}

#parchment {
  position: absolute;
  display: flex;
	width: 85vw;
    height: 85vh;
  /* center page with absolute position */
    top: 0%; left: 50%; transform: translate(-50%, 0);
    margin: 2em 0;
	padding: 4em;
	box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
	background: #fffef0;
}

#contain {
  position: relative;
 	display: flex;
  flex-direction: column;
	width: 52vw;
  height: auto;
  margin: 0 auto;
	padding: 4em;
}


.stroke{
  /* overflow:hidden; */
  position:absolute;
  display: inline-block;
  padding-left: inherit;
	width: 50vw;
  left: -6vw;
  bottom: 20vh;
  overflow: hidden;
  height: auto;
  -webkit-transform: rotateZ(-43deg);
  -ms-transform: rotateZ(-43deg);
  transform: rotateZ(-43deg);
  animation: strokeFade ease 7s;
  -webkit-animation: strokeFade ease 7s;
  -moz-animation: strokeFade ease 7s;
  -o-animation: strokeFade ease 7s;
  -ms-animation: strokeFade ease 7s;
  opacity: .7;
}

@keyframes strokeFade {
  0% { opacity:0; }
  50% { opacity:0; }
  100% {opacity:.7;}
}

@-moz-keyframes strokeFade {
  0% { opacity:0; }
  50% { opacity:0; }
  100% {opacity:.7;}
}

@-webkit-keyframes strokeFade {
  0% { opacity:0; }
  50% { opacity:0; }
  100% {opacity:.7;}
}

@-o-keyframes strokeFade {
  0% { opacity:0; }
  50% { opacity:0; }
  100% {opacity:.7;}
}

@-ms-keyframes strokeFade {
  0% { opacity:0; }
  50% { opacity:0; }
  100% {opacity:.7;}
}


/* button {
    background-color: #0A0F4F;
    font-size: 24px;
    color: white;
    padding: 10px 20px;
    border: 0;
    transition: .5s all ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
    color: #0A0F4F;
} */

#btn1 {
animation: fadeIn ease 8s;
position: relative;
-webkit-animation: fadeIn ease 8s;
-moz-animation: fadeIn ease 8s;
-o-animation: fadeIn ease 8s;
-ms-animation: fadeIn ease 8s;
float: right;
margin-top: 28vh;
height: 23vh;
opacity: .8;
}
@keyframes fadeIn {
 0% { opacity:0; }
70% { opacity:0; }
100% {opacity:.8;}
}

@-moz-keyframes fadeIn {
 0% { opacity:0; }
    70% { opacity:0; }
100% {opacity:.8;}
}

@-webkit-keyframes fadeIn {
 0% { opacity:0; }
    70% { opacity:0; }
100% {opacity:.8;}
}

@-o-keyframes fadeIn {
 0% { opacity:0; }
    70% { opacity:0; }
100% {opacity:.8;}
}

@-ms-keyframes fadeIn {
 0% { opacity:0; }
    70% { opacity:0; }
100% {opacity:.8;}
}

