.place{
    margin-top:10vh;
    background-color: white;
     display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.pieces{
  position: relative;
  display: flex;
	width: 85vw;
    height: 85vh;
  /* center page with absolute position */
    top: 0%; left: 50%; transform: translate(-50%, 0);
    margin: 2em 0;
	padding: 4em;
	box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
	background: #fffef0;
}

.piecesbg{
  background-image: url(https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size:cover;
  width: 100vw;
  height: 100vh;
  padding: 1em;
}